body
{
	/*This pattern is downloaded from www.subtlepatterns.com If you need more, that's where to get'em.*/
	/*background-image: url("../img/low_contrast_linen.png");*/
	background-color: #2a2e32;
	font-family: 'Crimson Text', serif;
	font-size: 17px;
	color: white;
	margin: 0;
}

h1.logo
{
	
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1.logo a
{
	color: #ddd;
	text-decoration: none;
}

#topnav
{
	
	background-color: #0084b4;
	text-align: center;
	
}

.menu
{
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	font-size: 18px;
	min-height: 30px;
	line-height: 200%;

}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0041a1;
	
}

.menu > li:first-child
{
	border-left: 1px dashed #0041a1;
}

.menu a
{
	color: white;
	text-decoration: none;
}

.menu a:hover
{
	color: #cccccc;

}

h1
{
		font-size: 44px;
		font-weight: 400;
		color: #39a5f1;
		margin-bottom: 20px;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.west
{
	float: left;
	width: 750px;
	padding: 20px;
	text-align: justify;
	
}

.west h1
{
	font-size: 32px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 20px;
}

.east
{
	float:left;
	width: 170px;
	padding: 20px;
}

footer
{
	background-color: #191d21;
}
	
.social
{
	margin-left: auto;
	margin-right:auto;
	width: 480px;
	padding: 10px;
}

.social a
{
	text-decoration: none;
	color:white;
}

.social a:hover
{
	text-decoration: none;
	color:grey;
}

.sociallink
{
	width: 80px;
	font-size: 60px;
	float: left;
	padding: 20px;

}



h2
{
	font-size: 20px;
	font-weight: 400;
	color: #39a5f1;
}


.info
{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;
	
}

.east ul
{
	padding-left: 20px;
	
}

.east ul > li
{
	margin-bottom: 5px;
	
}

.east img
{
		margin-top: 20px;
}


#upBtn {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    border: none; 
    outline: none; 
    background-color: #222930;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}

#myBtn:hover {
    background-color: #111820;
}
